#tab .chord {
  color: red;
}

#tab .fingering {
  color: blue;
}

#tab pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  font-size: 16px;
}

#tab .tab-chord-selected {
  background-color: #ddd;
  font-weight: bold;
}

#selected-chord {
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}
