{% extends 'base.html' %}
{% load crispy_forms_tags staticfiles %}

{% block page_title %}
{{ song.title }}, by {{ song.artist }}
{% endblock page_title %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-xs-8" id="tab">
    <pre>
{% for line in lines %}{{line|safe}}
{% endfor %}
    </pre>
  </div>
  <div class="col-md-2 col-xs-4">
    Instrument: {% crispy instrument_select_form %}
    {% crispy capo_transpose_form %}
    <div id="selected-chord"></div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script language="javascript">
var songUrl = "{{ song.get_absolute_url }}";
</script>
<script src="{% static "js/song/song_detail.js" %}"></script>
{% endblock extra_js %}

{# vim: set ft=htmldjango :#}
